body {
    background-color: lightsteelblue;
}

#stage {
    margin: auto;
    width: 400px;
    height: 400px;
    position: relative;
    border: 2px solid black;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    
}

canvas {
    position: absolute;

}

#ui-layer {
    z-index: 3;
}

#game-layer {
    z-index: 2;
}

#background-layer {
    z-index: 1;
}
